*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 100%;
    margin: auto;
    /*background-color: brown;*/
}

.titreContainer{
    width: 100%;
}

.flex{
    display: flex;
   /* flex-wrap: wrap;*/
}

.spaceBetween{
    justify-content: space-between;
}

.tailleImg{
    max-width: 300px;
    max-width: 300px;
    object-fit: contain;
}

.li{
    width: 50%;
}

